<body>
  <!--<span class="example-spacer"></span>
      <a mat-button href="#inicio">INICIO</a>
      <a mat-button href="#garantias">GARANTIAS</a>
      <a mat-button href="#contactos">CONTACTENOS</a>-->

  <header id="inicio">
      <div class="main-header">
          <div class="background-overlay text-white py-5" >
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12 text-center align-self-center">
                          <h1 class="mt-5">CONTROL DE ESTUDIANTES</h1>
                          <h1>INFORMACION DE CURSOS Y DATOS</h1>
                          <p>Lleve el control de manera facil y rapida</p>
                          <a href="#informacion1" class="btn btn-outline-warning btn-lg text-white mt-5">
                              Aprende como hacerlo con nosotros.
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-8.84,97.85 C162.71,204.44 228.74,107.73 505.83,32.73 L501.88,153.11 L0.00,150.00 Z" style="stroke: none; fill: rgba(233, 211, 103);"></path></svg></div>
      </div>
  </header>
  

  <footer id="contactos">
      <div class="container">
          <div class="container-footer">
              <h1 class="titulo-serv py-4 align-self-center;">COMUNICATE CON NOSOTROS</h1>
              <section class="part-1">
                  <div class="row">
                      <div class="col-sm-6">
                        <div class="content-foo">
                            <h4>Whatsapp</h4>
                            <p>0-1-800-ControlPersonas</p>
                        </div>
                      </div>
                
                      <div class="col-sm-3">
                          <div class="content-foo">
                              <h4>Teléfono</h4>
                              <p>0-1-800-ControlPersonas</p>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="part-2">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="content-foo">
                              <h4>Facebook</h4>
                              <p>Facebook/SolucionesUMG</p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="content-foo">
                              <h4>Email</h4>
                              <p>controlpersonas@umgt.com</p>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
          <h2 class="titulo-final">&copy; 2021-Designed by Raul Mendez</h2>
      </div>
  </footer>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

